@model MovieApp.ViewModels.CustomersViewModel

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("NEW CUSTOMER", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>

@if (Model.Customers.Count == 0)
{
    <p>There is no customer that was registered!</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, new { @class = "btn-link" })
                    </td>
                    <td>@customer.MembershipType.Name</td>
                    <td><button customer-id="@customer.Id" class="btn-link js-delete">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").on("click", ".js-delete", function () {
                let button = $(this);

                bootbox.confirm("Are you sure to delete?", function (result) {
                    if (result) {
                        $.ajax({
                            url: `/api/Customers/${button.attr("customer-id")}`,
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    };
                });
            })
        });
    </script>
}